.manager-container {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.manager-container h2 {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: blue;
}

.manager-content {
  background: #dbd9bd;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}

.manager-input-group {
  margin-bottom: 20px;
}

.manager-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.manager-submit {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px !important;
  border-radius: 5px;
  box-sizing: border-box !important;
  cursor: pointer;
  font-size: 16px;
  width: max-content !important;
  transition: background 0.3s ease-in-out;
}
